<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.service_request/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.service_request.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Departament.browse"
              caption="msg://com.company.service_request.screen.departament/departamentBrowse.menu"/>
        <item screen="Request.browse" caption="msg://com.company.service_request.screen.request/requestBrowse.menu"/>
        <item screen="Report.browse" caption="msg://com.company.service_request.screen.report/reportBrowse.menu"/>
    </menu>

</menu-config>